<h2>My Events</h2>

<ul class="nav nav-tabs nav-pills flex-column flex-sm-row text-center bg-light border-0 rounded-nav mb-3">
  <li class="nav-item flex-sm-fill">
    <a class="nav-link{% if active == 'current' %} active{% endif %}" href="{% url 'organisations:event_change_list' %}">Current</a>
  </li>
  <li class="nav-item flex-sm-fill">
    <a class="nav-link{% if active == 'ended' %} active{% endif %}" href="{% url 'organisations:ended_change_list' %}">Ended</a>
  </li>
  <li class="nav-item flex-sm-fill">
    <a class="nav-link{% if active == 'create' %} active{% endif %}" href="{% url 'organisations:event_add' %}">Create Event</a>
  </li>
</ul>
