{% extends 'base_p.html' %}

{% block content %}

{% include 'capstone/organisations/_header.html' with active='create' %}

  <div class="start body">
    <br>
    <h4 class="mb-3">Create an Event</h4>
    {% include 'capstone/organisations/_image_preview.html' %}
    {% load crispy_forms_tags %}
    <form method="post" novalidate enctype="multipart/form-data">
      {% csrf_token %}
      {{ form | crispy }}
      <button type="submit" class="btn btn-success">Add Event</button>
      <a href="{% url 'organisations:event_change_list' %}" class="btn btn-outline-secondary" role="button">Cancel</a>
    </form>
  </div>
{% endblock %}
