{% extends 'base_p.html' %}

{% load static %}

{% block content %}


  <script type="text/javascript" src="{% static 'capstone/helper.js' %}"></script>


<div>
  <div class="container position-relative">

    {% if user.is_person or event.organisation.user == user %}

      <div class="mb-3">
        <h6>Event Details</h6>
        <h2 style="overflow-wrap: break-word">{{ event.name }}</h2>
      </div>

      <div style="display: flex;">
        <div style="flex:1">
          <h6>Event Created: {{ event.created }}</h6>
          <h6>Last Updated: {{ event.updated }}</h6>
        </div>
        <div>
          <h6>No of Updates: {{ event.update_no }}</h6>
        </div>
      </div>

      <div class="mb-3">
        <div class="container position-relative">
          <div class="row">
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">

              <p>
                {{ event.category.get_html_badge }}
                <a href="{% url 'persons:org_profile' event.organisation.pk %}">
                  {{ event.organisation.get_html_badge }}
                </a>
              </p>



              <div style="display: flex;">

                <div style="flex:1">
                  <h6>Taken slots: {{ event.booked }} / {{ event.capacity }} </h6>
                  {% if event.booked >= event.capacity %}
                    <h6 style="color: red">FULLY BOOKED</h6>
                  {% endif %}
                </div>

                <div>
                  {% if user.is_authenticated and user.is_person %}
                  <i id="like-{{event.id}}-button" class="fa fa-heart"
                     style="font-size: 30px;cursor: pointer; user-select: none;color:black;"
                     onclick="like('{{ event.id }}')"></i>

                  <script type="text/javascript">
                     update_like_button('{{ event.id }}');
                  </script>

                  {% else %}
                    <i class="fa fa-heart w3-hover-text-indigo"
                       style="font-size: 30px; user-select: none;color:black;"
                       disabled></i>
                  {% endif %}
                  <b id="like-{{event.id}}-count">{{ event.likes }}</b>
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  {% if user.is_person %}
                    {% if event.booked >= event.capacity and button != "Cancel Ticket" or ended %}
                      <button type="button" disabled class="btn btn-primary" style="position:relative; top:-7.5px">{{ button }}</button>
                    {% else %}
                      <a href="{% url 'persons:get_ticket' event.pk %}"  style="position:relative; top:-7.5px" class="btn btn-primary">
                        {{ button }}
                      </a>
                    {% endif %}
                  {% else %}
                    <a href="{% url 'organisations:event_edit' event.pk %}"  style="position:relative; top:-7.5px" class="btn btn-primary">
                      Edit Event
                    </a>
                  {% endif %}
                </div>
              </div>

              {% if ended %}
              <h6 style="color: red;">EVENT HAS ENDED</h6>
              {% endif %}

              <h6>Start time:</h6>
              <p>{{ event.start_time }}</p>

              <h6>End time:</h6>
              <p>{{ event.end_time }}</p>

            </div>
            <div class="col-lg-6 order-1 order-lg-2">
              <img src="{{ event.image.url }}" class="card-img-top">
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="mb-3">
        <h2>Description</h2>
        <div>
          <div class="container position-relative">
            <p>{{ event.about }}</p>
          </div>
        </div>
      </div>

    {% else %}

      <div style="text-align:center">
        <h6>Unfortunately, you aren't allowed to see this. </h6>
      </div>

    {% endif %}
  </div>
</div>

{% endblock %}
